{% extends "layout.html" %} {% block title %} Quote {% endblock %} {% block main %}
<h1 class="display-1 " style="margin: 20px;">Change password</h1>
<main class="container">
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="current_password" placeholder="Current Password" type="password" required/>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_password" placeholder="New Password" type="password" required/>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_password_confirmation" placeholder="New Password (again)" type="password" required/>
        </div>

        <button class="btn btn-primary" type="submit">Change</button>
    </form>
</main>
{% endblock %}