{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<table class="table table-striped  table-hover">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Eid</th>
          <th scope="col">Epurpose</th>
          <th scope="col">Amount</th>
          <th scope="col">Period</th>
          <th scope="col">DatePaid</th>
          <th scope="col">NExtDAte</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
    <tbody>
        {% for espending in espendings: %}
        <tr>
            <th scope="row">{{espending["eid"]}}</th>
            <td>{{espending["epurpose"]}}</td>
            <td>{{espending["amount"]}}</td>
            <td>{{espending["period"]}}</td> 
            <td>{{espending["datestamp"]}}</td> 
            <td>{{espending["duedate"]}}</td>
            <td>{{espending["status"]}}</td> 
            <td>{{espending["category"]}}</td> 
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="{{espending['epurpose']}}" data-link="/education/edit/{{espending['eid']}}"data-amount="{{espending['amount']}}" data-period="{{espending['period']}}"data-datestamp="{{espending['datestamp']}}" data-status="{{espending['status']}}" data-category="{{espending['category']}}">Edit</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" data-whatever="{{espending['epurpose']}}" data-link="/education/pay/{{espending['eid']}}"data-amount="{{espending['amount']}}" data-period="{{espending['period']}}"data-datestamp="{{today}}" data-status="{{espending['status']}}">Pay</button>
              </td>
        </tr>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="formaction" method="POST">
                    <div class="form-group">
                      <label for="recipient-name"  class="col-form-label">epurpose:</label>
                      <input type="text" class="form-control modalpurpose" name="update_epurpose" id="recipient-name">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">amount:</label>
                      <input class="form-control modalamount" type="number" name="update_amount" id="message-text"></input>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">period:</label>
                        <input class="form-control modalperiod" type="number" name="update_period" id="message-text"></input>
                      </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">date:</label>
                        <input class="form-control modaldatestamp" type="date" name="update_datestamp" id="message-text"></input>
                      </div>
                      <div class="form-group">
                        <label for="inputState">Category</label>
                        <select id="inputState" class="form-control editcategory" name="update_category">
                          <option selected>Choose Category</option>
                          <option id="dropUtilities" value="Utilities" >Utilities</option>
                          <option id="dropTaxes" value="Taxes" >Taxes</option>
                          <option id="dropLoans&EMI" value="Loans & EMI" >Loans & EMI</option>
                          <option id="dropChits&Insurance" value="Chits & Insurance" >Chits & Insurance</option>
                          <option id="dropOthers" value="Others">Others</option>
                        </select>
                      </div>
                    <div class="custom-control custom-checkbox mb-3 alert alert-danger">
                      <input type="checkbox" class="custom-control-input" name="updatestatus" id="customControlValidation1" value=0 >
                      <label class="custom-control-label btn btn-danger" for="customControlValidation1">Deactivate</label>
                      <div>This is a Dangerous Step by deactivating you will no longer recive remeinders about this education policy</div>
                    </div>  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit"  class="btn btn-primary ">Update</button>
                </div>
            </form>
              </div>
            </div>
        </div>
        <!-- ++++++++++++++++++++++++++++++++++++++++++++pay+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body alert alert-dark" role="alert">
                <form class="formaction" method="POST">
                  <div class="form-group alert alert-primary" role="alert">
                    <label for="recipient-name"  class="col-form-label">Name:</label>
                    <h6 type="text" class="modalpurpose"></h6>
                  </div>
                  <div class="form-group alert alert-warning" role="alert">
                    <label for="message-text" class="col-form-label">period:</label>
                    <h6 class="modalperiod" type="number"></h6>
                    </div>
                  <div class="form-group alert alert-warning" role="alert">
                    <label for="message-text" class="col-form-label">date:</label>
                    <input class="form-control modaldatestamp" type="date" name="pay_datestamp" id="message-text"></input>
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">amount:</label>
                      <input class="form-control modalamount" type="number" name="pay_amount" id="message-text"></input>
                    </div>
                    <div class="custom-control mb-3 alert alert-danger">
                      <div class="custom-control custom-checkbox ">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" value="0" name="pay_status">
                        <label class="custom-control-label btn btn-danger" for="customCheck1">DEACTIVATE</label>
                        <div>This is a Dangerous Step by deactivating you will no longer recive remeinders about this education policy</div>
                      </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-primary ">Update</button>
              </div>
          </form>
            </div>
          </div>
      </div>
        <!-- ++++++++++++++++++++++++++++++++++++++++++++pay+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++= -->
        {% endfor %}
        <tr class="table-info">
            <th scope="row">CASH Remaining</th>
            <td colspan="3"></td>
            <td>{{cash}}</td>
        </tr>
    </tbody>
    <tfoot>
        
        <tr class="table-primary">
            <th scope="row">NET-WORTH$$</th>
            <td colspan="3"></td>
            <td>{{grand_etotal}}</td>
        </tr>
    </tfoot>
</table>

    <form action="/education" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="epurpose" placeholder="commodity" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="period" placeholder="period" type="number">
        </div>
        <div class="form-group">
            <input class="form-control" name="amount" placeholder="amount" type="number">
        <div class="form-group ">
          <label for="inputState"></label>
          <select id="inputState" class="form-control" name="category">
            <option selected>Choose Category</option>
            <option id="dropUtilities" value="Utilities" >Utilities</option>
            <option id="dropTaxes" value="Taxes" >Taxes</option>
            <option id="dropLoans&EMI" value="Loans & EMI" >Loans & EMI</option>
            <option id="dropChits&Insurance" value="Chits & Insurance" >Chits & Insurance</option>
            <option id="dropOthers" value="Others">Others</option>
          </select>
        </div> 
        <button class="btn btn-primary" type="pspend">Add and Spend!</button>
    </form>
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever')
        var  amount= button.data('amount')
        var datestamp = button.data('datestamp')
        var period = button.data('period')
        var link = button.data('link')
        var category = button.data('category')
        // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modalpurpose').val(recipient)
        modal.find('.modalamount').val(amount)
        modal.find('.modaldatestamp').val(datestamp)
        modal.find('.modalperiod').val(period)
        modal.find('.formaction').attr("action",link)
        modal.find('.editcategory').val(category)
      }) 
</script>  

<script>
  $('#exampleModal2').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever')
      var  amount= button.data('amount')
      var datestamp = button.data('datestamp')
      var period = button.data('period')
      var link = button.data('link')  
      // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-title').text('Edit :' + recipient)
      modal.find('.modalpurpose').text(recipient)
      modal.find('.modalamount').val(amount)
      modal.find('.modaldatestamp').val(datestamp)
      modal.find('.modalperiod').text(period)
      modal.find('.formaction').attr("action",link)
      
    }) 
</script>
{% endblock %}

