<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/login.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
    <link href="/static/favicon.ico" rel="icon">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <title>Track My Dollar {% block title %}{% endblock %}</title>
    </head>
<body>
    <nav class="navbar fixed-top" >
  <a class="navbar-brand" href="#">
  <img src="static\Track my Dollar.png" height="60" style="border-radius:15px ;" alt="Track my Dollar">
</a>
<div class=" my-2 my-sm-0 logpage_nav ">
    <a href="/register"><button> Register </button></a> 
    <a href="/aboutus"><button style="background-color: black; color:aliceblue"> About Us </button></a> 

</div>
</nav>
    
    <div class="container">
        <div class="card">
            <div class="sneaker">
                <div class="circle"></div>
                <img src="static\papermoney.png" alt="adidas">
            </div>
            <div class="info">
                <h1 class="title">Login</h1>
                <h3>To be a master of Money $</h3>
                <form action="/login" class="inputcolumns" method="post">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password" type="password">
                    </div>
                <div class="purchase">
                    <button class="btn loginButton btn-primary"  type="submit">Log In</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    <script src="static\login.js"></script>
</body>
</html>
