{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<table class="table table-striped  table-hover">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">No of Shares</th>
          <th scope="col">Price per Share</th>
          <th scope="col">Total Price</th>
        </tr>
      </thead>
    <tbody>
        {% for holding in holdings: %}
        <tr>
            <th scope="row">{{holding["stock"]}}</th>
            <td>{{holding["name"]}}</td>
            <td>{{holding["shares"]}}</td>
            <td>{{holding["price"]}}</td> 
            <td>{{holding["total"]}}</td> 
        </tr>
        {% endfor %}
        <tr class="table-info">
            <th scope="row">CASH Remaining</th>
            <td colspan="3"></td>
            <td>{{cash}}</td>
        </tr>
    </tbody>
    <tfoot>
        
        <tr class="table-primary">
            <th scope="row">NET-WORTH$$</th>
            <td colspan="3"></td>
            <td>{{grand_total}}</td>
        </tr>
    </tfoot>
</table>






{% endblock %}
